extends ../layout

block title
  title О Компании

block content 
  .aboutUs 
    .wrapper.item1
      img.item1Img(src="./images/desktop.png", alt="img" width="700px")
      .container.aboutUs_container 
        .aboutUs-desc_wrap
          h1.aboutUs_title LIOR STUDIO
          h3.desc_text.aboutUs_text Кто мы такие, и чего мы добиваемся
        .desc_wrap.item1-desc
          p.desc
            |Мы работаем с 2010 года. За это время выпустили более 50 крупных проектов. Наиболее масштабные из них методично разрабатываем годами. А проекты со сжатыми сроками успеваем выпустить за короткое время.
    .wrapper.item2
      img.item2Img(src="./images/board.png", alt="img" width="1060px")
      .container.aboutUs_container 
        .desc_wrap.item2-desc
          p.desc
            |Клиенты обращаются к нам за экспертизой и за производственными мощностями. Они просят помочь в создании нового или серьезной переработке существующего крупного мобильного или веб-продукта. К нам обращаются, когда нуждаются в команде, которая переосмыслит проект, ориентируясь на историю взаимодействия пользователей с ним и на задачах бизнеса. Нас выбирают, когда нужно запустить проект, объемы которого не под силу основной массе подрядчиков.
    .wrapper.item3
      img.item3Img(src="./images/team.png", alt="img" width="815px")
      .container.aboutUs_container 
        .desc_wrap.item3-desc
          p.desc
            |Все необходимые сотрудники для полной реализации проекта работают у нас в штате: аналитики, юзабилити-специалисты, проектировщики, дизайнеры, фронтенд - и бэкенд-разработчики, тестировщики, системные администраторы и даже специалисты по информационной безопасности. Мы нанимаем лучших специалистов на рынке. Это дорого, но оно того стоит.
    .wrapper.item4
      img.item4Img(src="./images/handshake.png", alt="img" width="800px")
      .container.aboutUs_container 
        .desc_wrap.item4-desc
          p.desc
            |Мы погружаемся в бизнес заказчика, хорошо понимаем его цели, берем на себя целые направления. Поэтому с большинством клиентов работаем годами.
    .wrapper.item5
      img.item5Img(src="./images/hall.png", alt="img" width="800px")
      .container.aboutUs_container 
        .desc_wrap.item5-desc
          p.desc
            |В LIOR комфортно работать только тем, кто хочет развиваться. Работа у нас предполагает высокий темп, сложные проекты, серьезные требования к продукту. Для нас это ценности, которые делают нас лучшим цифровым продакшеном на рынке.





