section.aboutCompany 
  img.aboutCompany_img(src="./images/desktop.png", alt="img" width="700px")
  .container.aboutCompany_cont
    .aboutCompany_desc
      h2.desc_title О Компании
      h3.desc_text Кто мы такие, и чего мы добиваемся
      a.btn.desc-btn(href="aboutUs.html") Подробнее
    .img-desc
      p Мы работаем с 2010 года. За это время выпустили более 50 крупных проектов. Наиболее масштабные из них методично разрабатываем годами. А проекты со сжатыми сроками успеваем выпустить за короткое время.
  .container.services_cont
    .services_desc
      h2.desc_title Услуги
      p.desc_text.services_text В LIOR разрабатывают сложные веб и мобильные продукты. Мы верим в дизайн, основанный на данных, аналитике и юзабилити.
      a.btn.desc-btn(href="services.html") Подробнее
