section.banner
    .container.home_container
      .title_wrap
        h1.banner_title
          | Индивидуальные цифровые решения на основе 
          br 
          | web-
          span.white технологий
        span.subtitle Создаём и развиваем функциональные сайты и веб-сервисы