section.footer
  .container.footer_container
    .cover.footer_links
      nav.links 
        a.nav_link(href="index.html") Главная
        a.nav_link(href="aboutUs.html") О компании
        a.nav_link(href="services.html") Услуги
        a.nav_link(href="clientForm.html") Стать клиентом
        a.nav_link(href="portfolio.html") Портфолио
        a.nav_link(href="contact.html") Контакты
      nav.socials
        a.nav_social(href="https://www.instagram.com").icon-instagram
        a.nav_social(href="https://www.behance.net").icon-behance
        a.nav_social(href="https://dribbble.com").icon-dribbble
        a.nav_social(href="https://www.pinterest.com").icon-pinterest
        a.nav_social(href="https://web.whatsapp.com").icon-whatsapp
        a.nav_social(href="https://www.facebook.com").icon-facebook
        a.nav_social(href="https://twitter.com").icon-twitter
    .cover.footer-text_wrap
      p.footer_text © 2021 LIOR. Бишкек. Раззакова 19. БЦ Россия
      p.footer_logo LIOR STUDIO