.container.mainContent_container
  .content_wrap
    .img_wrap
      img.content_img(src="./images/founders.png", alt="img")
    .content-text_wrap 
      p.content_desc Hey all,
        br
        |Founders, it’s a networking platform for business owners who strive to be a part of something bigger than just their business.

      p.content_desc In today’s reality, business owners need to be gathered to overcome the economic situation in the world—this initiative was created by two founders and designed by me. I wanted to invest more than I can in the business. So I made this website looks attractive to other people just like me. I asked myself what will force me to join. Why should I become a part of this collaboration? And know what? I found those answers, so that how I created this beautiful and red design. It inspires me to make more.Why would you like to join such a community?
      p.content_desc.third_part Design — Figma
        br
        |Animation — AE
        br
        |Develop — HTML, SASS, JS(React) 
      a.btn.content-desc_btn(href="#") Перейти
  .content_wrap.reverse
    .img_wrap
      img.content_img(src="./images/lofthall.png", alt="img")
    .content-text_wrap 
      p.content_desc Hey all,
        br
        |Founders, it’s a networking platform for business owners who strive to be a part of something bigger than just their business.

      p.content_desc In today’s reality, business owners need to be gathered to overcome the economic situation in the world—this initiative was created by two founders and designed by me. I wanted to invest more than I can in the business. So I made this website looks attractive to other people just like me. I asked myself what will force me to join. Why should I become a part of this collaboration? And know what? I found those answers, so that how I created this beautiful and red design. It inspires me to make more.Why would you like to join such a community?
      p.content_desc.third_part Design — Figma
        br
        |Animation — AE
        br
        |Develop — HTML, SASS, JS(React) 
      a.btn.content-desc_btn(href="#") Перейти
  .content_wrap
    .img_wrap
      img.content_img(src="./images/headphones.png", alt="img")
    .content-text_wrap 
      p.content_desc Hey all,
        br
        |Founders, it’s a networking platform for business owners who strive to be a part of something bigger than just their business.

      p.content_desc In today’s reality, business owners need to be gathered to overcome the economic situation in the world—this initiative was created by two founders and designed by me. I wanted to invest more than I can in the business. So I made this website looks attractive to other people just like me. I asked myself what will force me to join. Why should I become a part of this collaboration? And know what? I found those answers, so that how I created this beautiful and red design. It inspires me to make more.Why would you like to join such a community?
      p.content_desc.third_part Design — Figma
        br
        |Animation — AE
        br
        |Develop — HTML, SASS, JS(React) 
      a.btn.content-desc_btn(href="#") Перейти
  .content_wrap.reverse
    .img_wrap
      img.content_img(src="./images/houseInForest.png", alt="img")
    .content-text_wrap 
      p.content_desc Hey all,
        br
        |Founders, it’s a networking platform for business owners who strive to be a part of something bigger than just their business.

      p.content_desc In today’s reality, business owners need to be gathered to overcome the economic situation in the world—this initiative was created by two founders and designed by me. I wanted to invest more than I can in the business. So I made this website looks attractive to other people just like me. I asked myself what will force me to join. Why should I become a part of this collaboration? And know what? I found those answers, so that how I created this beautiful and red design. It inspires me to make more.Why would you like to join such a community?
      p.content_desc.third_part Design — Figma
        br
        |Animation — AE
        br
        |Develop — HTML, SASS, JS(React) 
      a.btn.content-desc_btn(href="#") Перейти
  .btn-wrap
    a.more-btn.btn(href="portfolio.html") Больше