.container.navbar_container
  .nav_cover
    nav.nav
      a.logo(href="index.html") Lior Studio
      //- a.nav_link.phone(href="#") +996-755-15-68-68
      //- a.nav_link.becomeClient(href="clientForm.html") +Стать клиентом
    
    button.hamburger.hamburger--spin(type='button')
      span.hamburger-box
        span.hamburger-inner
    
.menu_block
  .container.menu-block_container
    nav.menu_nav 
      a.menu-nav_link.a(href="index.html") Главная
      a.menu-nav_link.b(href="clientForm.html") Стать клиентом
      a.menu-nav_link.c(href="aboutUs.html") О Компании
      a.menu-nav_link.d(href="portfolio.html") Портфолио
      a.menu-nav_link.e(href="services.html") Услуги
      a.menu-nav_link.f(href="contact.html") Контакты
    ul.menu_social-nav
      li
        a.nav_social(href="https://www.instagram.com").icon-instagram
      li
        a.nav_social(href="https://www.behance.net").icon-behance
      li
        a.nav_social(href="https://dribbble.com").icon-dribbble
      li
        a.nav_social(href="https://www.pinterest.com").icon-pinterest
      li
        a.nav_social(href="https://web.whatsapp.com").icon-whatsapp
      li
        a.nav_social(href="https://www.facebook.com").icon-facebook
      li
        a.nav_social(href="https://twitter.com").icon-twitter
    .menu_footer 
      p.menu-footer_text © 2021 LIOR. Все права защищены
      p.menu-footer_phone +996-755-15-68-68
